* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
  
.header {
  display: flex;
  align-items: center;
}  

.navbar {
  display: flex;
  justify-content: flex-start;
}

.my-logo {
  width: 30px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 24px;
  margin-top: 48px;
  color: #6070ff;
 }
  
.hamburguer {
  margin-top: 63px;
  margin-left: 269px;
}
  
header {
  display: flex;
}
  
.background-image {
  background-image: url(Images/header-shapes\ mobile.png);
  position: relative;
  justify-content: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 0;
}
  
.about-me {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
  
.header2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 110px;
}
  
.about-me-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 12px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
}
  
.connect {
  margin-top: 14px;
  margin-bottom: 12px;
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}
  
.media-links {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
  
.media-links li {
  margin-left: 24px;
}
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;   
  width: 375px - 24px - 24px;
  justify-content: stretch;
}

.snapshot-portfolio-tonic {
  background-image: url(/Images/Snapshoot\ Portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1;
  margin-top: 16px;
  margin-left: 16px;
  height: 220px ;
  max-height: 100%;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-left: 16px;
  margin-top: 12px;
}

.primary-text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.frame-2 {
grid-column: 1 / span 6;
justify-items: start;
background-image: url(Images/Frame\ 2.png);
}

.snapshot-portfolio-multi {
    background-image: url(Images/Snapshoot\ Portfolio\ Multi.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    margin-top: 16px;
    margin-left: 16px;
    height: 220px ;
    max-height: 100%;
}

.contactme-form {
  background-image: url(Images/header-shapes\ mobile.png);
  position: relative;
  justify-content: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 0;
}