* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  width: 100%;
  height: auto;
}

.presentation {
  background-color: #fff;
  border-bottom-left-radius: 3.125rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.my-logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1.9375rem;
}

.logo-animation {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-name: entrance;
}

@keyframes entrance {
  from {
    width: 5%;
  }

  25% {
    width: 9%;
  }

  40% {
    width: 12%;
  }

  50% {
    width: 16%;
  }

  75% {
    width: 12%;
  }

  to {
    width: 7%;
  }
}

.primary-info {
  background-image: url(Images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.header1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  color: #172b4d;
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-top: 28.7%;
}

.media-links {
  display: flex;
  list-style-type: none;
  margin-left: 6.4%;
  margin-right: 6.4%;
  padding-bottom: 19.2%;
}

#card-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.card-works {
  border-radius: 1rem;
  justify-self: center;
  display: grid;
  grid-template-columns: auto;
  row-gap: 7.125rem;
  margin-top: 7.125rem;
  width: 87.2%;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.card-work-insider {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #172b4d;
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.frame-2 {
  margin-top: 1.25rem;
  display: flex;
  margin-left: 1rem;
  justify-content: flex-start;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: left;
  color: #344563;
}

.frame-2 li {
  margin-right: 0.75rem;
}

.primary-project-text {
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.tags-container {
  display: flex;
  margin-left: 1rem;
  list-style-type: none;
}

.tags {
  margin-top: 0.75rem;
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  background-color: #ebebff;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  color: #6070ff;
}

.action-button {
  display: flex;
  justify-content: flex-start;
}

.see-project-button {
  margin-top: 1.75rem;
  margin-left: 1rem;
  margin-bottom: 1.75rem;
  border-radius: 1rem;
  padding: 0.75rem;
  border: 0.0625rem solid #396df2;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  background-color: #fff;
}

.see-project-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-project-button:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

.see-project-button:active {
  color: #fff;
  background-color: #2230d2;
}

.last-card {
  margin-bottom: 7.75rem;
}

#about-myself {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 6.25rem;
}

.header2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  color: #172b4d;
  margin-top: 7.125rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.primary-info-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.5rem;
  color: #344563;
  margin-top: 1.7%;
  margin-right: 6.4%;
  margin-bottom: 1.7%;
  margin-left: 6.4%;
}

.lets-connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  margin-bottom: 1.7%;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.media-links-aboutmyself {
  display: flex;
  list-style-type: none;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.media-links li {
  margin-right: 6.4%;
}

.media-links-aboutmyself li {
  margin-right: 6.4%;
}

.tech-info {
  list-style: none;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

.tech-info-font {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #000;
  margin-right: 17%;
  margin-top: 3.34%;
  padding: 0.5rem;
  margin-bottom: 3.2%;
}

.languages-list {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.dev-language {
  display: flex;
  margin-bottom: 1.67%;
  margin-right: 9.6%;
  background-color: #f7f7f9;
  align-items: center;
}

.lang-span {
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  font-style: bolder;
  line-height: 1.25rem;
  margin-left: 4.26%
}

.image-lang {
  padding-top: 0.5625rem;
  padding-left: 0.75rem;
  padding-bottom: 0.6075rem;
}

.tech-info-font-border-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #000;
  margin-right: 17%;
  margin-top: 3.34%;
  padding: 0.5rem;
  margin-bottom: 1.4375rem;
  border-bottom: 0.0625rem #dfe1e6 solid;
}

#contact-me {
  border-top-left-radius: 6.25rem;
  background-color: #6070ff;
  margin-top: 7.75rem;
  display: flex;
}

.contact-me-background {
  position: relative;
  background-image: url(Images/Contact\ Me\ Backg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 153px;
}

.header-contact-me {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: center;
  margin-top: 14.34%;
  margin-bottom: 1.67%;
}

.contact-me-paragraph {
  color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  margin-left: 6.4%;
  margin-right: 6.4%;
}

#contact-me-form {
  display: flex;
  flex-direction: column;
}

.contact-me-name {
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-top: 6.96%;
  margin-bottom: 2.78%;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
}

.contact-me-email {
  border: none;
  outline: none;
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-bottom: 2.5%;
  border-radius: 0.5rem;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
  text-align: left;
}

::placeholder {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.contact-me-textarea {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-bottom: 3.06%;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
}

textarea::placeholder {
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
}

.contact-me-submit-button {
  border-radius: 1rem;
  padding: 0.75rem;
  border: 0.0625rem solid #396df2;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  background-color: #fff;
  margin-left: 6.4%;
  margin-bottom: 4.45%;
}

.contact-me-submit-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact-me-submit-button:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

.contact-me-submit-button:active {
  color: #fff;
  background-color: #2230d2;
}

.closing-line {
  display: flex;
  justify-content: center;
  margin-bottom: 1.11%;
}

.nav-items-list {
  list-style-type: none;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #344563;
}

.nav-items-list li {
  margin-left: 8.53%;
}

.card-works-desktop {
  border: solid 1px #dfe1e6;
  border-radius: 1.5rem;
  justify-self: center;
  display: flex;
  grid-template-columns: auto;
  row-gap: 12.45%;
  margin-top: 12.44%;
  margin-left: 1.66%;
  margin-right: 1.66%;
}

#border-facebook-card {
  border: solid 2px #a7aeff;
  border-radius: 1.5rem;
  box-shadow: 24px 24px 10px #e5e5e5;
}

.card-work-insider-desktop {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 3.18%;
}

.right {
  column-gap: 1.592%;
}

.image-snapshot-desktop-left {
  grid-area: 1 / 1 / 20 / 2;
  margin-left: 1.66%;
  margin-top: 2.62%
  margin-bottom: 2.62%
  border-radius: 8px;
}

.title-desktop-right {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 5.24%;
  margin-left: 0;
}

.frame-desktop-right {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 0;
}

.primary-project-text-desktop-right {
  grid-area: 5 / 2 / 6 / 3;
  margin-left: 0;
  margin-right: 3.185%;
  margin-bottom: 28;
}

.tags-desktop-right {
  grid-area: 6 / 2 / 7 / 3;
  margin-left: 0;
}

.button-desktop-right {
  grid-area: 9 / 2 / 10 / 3;
}

.image-snapshot-desktop-right {
  grid-area: 1 / 2 / 20 / 3;
  margin-right: 1.66%;
  margin-top: 2.62%;
  margin-bottom: 2.62%;
  border-radius: 0.5rem;
}

.title-desktop-left {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 5.24%;
  margin-left: 3.324%;
}

.frame-desktop-left {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 0;
  margin-left: 3.324%;
}

.primary-project-text-desktop-left {
  grid-area: 6 / 1 / 7 / 2;
  margin-left: 3.324%;
}

.tags-desktop-left {
  grid-area: 8 / 1 / 9 / 2;
  margin-left: 3.324%;
}

#tags-desktop-uber {
  grid-area: 7 / 1 / 8 / 2;
  margin-left: 3.324%;
}

.button-desktop-left {
  grid-area: 11 / 1 / 12 / 2;
  margin-left: 3.324%;
}

#button-desktop-uber {
  grid-area: 9 / 1 / 10 / 2;
  margin-left: 3.324%;
}

.project-title-desktop {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  color: #091e42;
  margin-top: 5.24%;
  padding-bottom: 0;
}

#uber-parag {
  margin-bottom: 0;
}

.primary-project-text-desktop {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  height: 5.456%;
  width: 34.349%;
  margin-bottom: 3.49%;
}

.frame-2-desktop {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  color: #6b778c;
}

.frame-2-desktop li {
  margin-right: 0.83%;
}

.frame-first-attribute {
  color: #344563;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.tags-desktop {
  padding: 0.25rem 0.75rem;
  background-color: #ebebff;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  margin-right: 0.554%;
  margin-left: 0.554%;
  color: #6070ff;
  height: 2.62%;
}

.button-grid-desktop {
  margin: 0;
  border-radius: 1rem;
  padding: 0.75rem;
  border: 0.0625rem solid #396df2;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  background-color: #fff;
}

.button-grid-desktop:hover {
  background-color: #6070ff;
  color: #fff;
}

.button-grid-desktop:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

.button-grid-desktop:active {
  color: #fff;
  background-color: #2230d2;
}

.button-facebook {
  color: #fff;
  background-color: #2230d2;
  font-size: 1.0625rem;
}

.button-facebook:active {
  background-color: #fff;
  color: #2230d2;
}

.button-facebook:hover {
  background-color: #6070ff;
  color: #fff;
}

.button-facebook:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

#hand-cursor {
  width: 3.95%;
  height: auto;
  margin-left: 19.04%;
  position: relative;
  bottom: -1.63%;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: auto;
  }

  .desktop-hide {
    display: none;
  }

  .desktop-shown {
    display: contents;
  }

  .my-logo {
    width: 5%;
    height: auto;
    margin-top: 1.75%;
    margin-left: 10.734%;
  }

  .primary-info {
    background-image: url(Images/Header-1-bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0.75rem;
  }

  .header1 {
    margin-left: 18%;
    margin-right: 18%;
    color: #091e42;
    height: 13.319%;
    width: 63.712%;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.0231rem;
    text-align: left;
  }

  .primary-info-paragraph {
    margin-left: 18%x;
    height: 6.7867%;
    width: 63.712%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #344563;
    margin-right: 0;
  }

  .lets-connect {
    margin-left: 18%;
  }

  .media-links {
    margin-left: 18%;
  }

  #about-myself {
    display: grid;
    grid-template-columns: 40.7895% auto;
    column-gap: 3.393%;
    background-color: #fff;
  }

  #desktop-grid-1 {
    grid-area: 1;
    margin-top: 15.5%;
  }

  #desktop-grid-2 {
    grid-area: 2;
    margin-top: 11.49585%;
  }

  .languages-list {
    flex-direction: row;
    margin-bottom: 6.113%;
  }

  .header2 {
    color: #091e42;
    width: 30.95567%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: left;
    margin-left: 9.83379%;
    margin-bottom: 1.31%;
    margin-top: 0;
    margin-right: 0;
  }

  #about-m-pag-desktop {
    height: 11.1353%;
    width: 30.95567%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #344563;
    margin-left: 9.83379%;
    margin-bottom: 1.31%;
  }

  #about-m-letsconnect-desktop {
    margin-left: 9.83379%;
    margin-bottom: 2.838%;
  }

  #about-m-media-links-desktop-margin {
    margin-left: 10.5955%;
  }

  #about-me-desktop-button-margin {
    margin-left: 9.83379%;
  }

  #about-me-desktop-lang-margin {
    margin-top: 1.812%;
  }

  .dev-language {
    flex-direction: column;
    display: flex;
    margin-right: 1.662%;
    align-items: flex-start;
  }

  .margin-lang-frame {
    margin-right: 12.7423%;
  }

  .image-lang {
    padding-left: 0;
  }

  .desktop-lang-font {
    height: 2.62%;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: #344563;
  }

  .lang-span {
    margin-left: 0;
    width: 6.7867%;
  }

  .contact-me-background {
    position: relative;
    background-image: url(Images/contact\ form\ background\ shapes.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-contact-me {
    margin-top: 15.5%;
    margin-bottom: 1.31%;
  }

  .contact-me-paragraph {
    line-height: 1.75rem;
    padding-bottom: 1rem;
    margin-left: 30.1939%;
    margin-right: 40.12465%;
    margin-bottom: 1.31%;
    font-size: 1.25rem;
  }

  #contact-me-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me-name {
    height: 5.24%;
    width: 30.95567%;
    border-radius: 0.125rem;
    margin-bottom: 2.957%;
    text-align: left;
  }

  .contact-me-email {
    height: 5.24%;
    width: 30.95567%;
    margin-bottom: 2.94759%;
    border-radius: 0.125rem;
  }

  .contact-me-textarea {
    height: 18.5589%;
    width: 30.95567%;
    margin-bottom: 2.94759%;
    border-radius: 0.125rem;
  }

  .contact-me-submit-button {
    margin-bottom: 13.864%;
    border-radius: 0.5rem;
  }

  #margin-desktop-language {
    margin-top: 0;
    padding-top: 0;
  }

  .see-project-button {
    margin-top: 4.366%;
    margin-left: 0;
  }
}
